{% extends 'common/layout.html' %}
{% set active_page = "editor" %}
{% set tier_number = request.args.get('tier')|int %}
{% set tier_number = tier_number if tier_number < 5 else 4  %}
{% block page_content %}
    <h5>Rent tier {{ tier_number }} servers</h5>
    <p class="card-text">Upload your code below to run it on tier {{ tier_number }} servers</p>
    <div id="editor"># Enter or copy and paste code here</div>
    <script src="static/editor.js" type="text/javascript" charset="utf-8"></script>
    <button id="run-code-button" class="btn btn-primary editor-button">Send to Network</button> 
{% endblock %}