{% extends 'common/layout.html' %}
{% set active_page = "host" %}
{% block page_content %}
    <h5 class="card-title">Be a host!</h5>
    <p class="card-text">Get payed for the time your computer sits idle!</p>
    <br />
    <ol class="list-group list-group-flush" >
        <li class="list-group-item">1. Download our desktop application</li>
        <li class="list-group-item">2. Run the benchmark to determine which tier you're in</li>
        <li class="list-group-item">3. Kepp the app running to allow others to rent from you</li>
    </ol>
    <br />
    <a
        href="{{url_for('static', filename='thehive.exe')}}"
        class="btn btn-primary"
        download
    >
        Download App
    </a>
{% endblock %}