{% extends 'common/layout.html' %}
{% set active_page = "rent" %}
{% set tiers = [
    ('Best', '$0.1'),
    ('Good', '$0.05'),
    ('Average', '$0.01'),
    ('Meh', '$0.001')
] -%}
{% block page_content %}
    <h5 class="card-title">Find a host</h5>
    <p class="card-text">Choose the preferred tier for your project.</p>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tier</th>
                <th scope="col">Perfocmance</th>
                <th scope="col">Price (per minute)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for performance, price in tiers %}
                <tr>
                    <th scope="row">#{{loop.index}}</th>
                    <td>{{ performance|e }}</td>
                    <td>{{ price|e }}</td>
                    <td>
                        <a class="btn btn-primary" href="editor?tier={{loop.index}}">Rent it!</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}