#navigation {
    margin-top: 20px;
}

.navigation-right {
    position: absolute;
    right: 20px;
}

.navigation-right > li {
    display: inline-block;
}

#editor {
    margin: 0;
    width: 100%;
    height:calc(100vh - 300px);
}

.editor-button {
    float: right;
    margin-top: 25px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 860px;
    }
}

@media (max-width: 767.98px) {
    .container {
        min-width: 720px;
    }
}

.table > thead th {
    border-top: none;
}

.list-group-item {
    max-width: 425px;
    margin: auto;
}

.list-group-item:first-child {
    border-top: none;
}

.list-group-item:last-child {
    border-bottom: none;
}

.card-body > .btn {
    margin-bottom: 20px;
}

#loginForm {
    max-width: 300px;
    margin: auto;
}

#loginForm > button {
    width: 100%;
}

#profileForm {
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.progress {
    position: relative;
    top: 5px;
    width: 250px;
    height: 25px;
}

#profileForm > button {
    position: relative;
    right: -15px;
    float: right;
}

form {
    margin-bottom: 25px;
}
